/* --------- Global style */



 body {
    background-color: rgb(212, 184, 231);
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
    max-width: 100%;
    /* overflow-x: hidden;
    overflow: hidden; */
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

/* --------- Animated heading- */

.content {
     position: absolute;
     top: 10%;
     left: 50%;
     transform: translate(-50%, -50%);
     height: 160px;
     overflow:hidden;
  
     font-family: 'Lato', sans-serif;
     font-size: 35px;
     line-height: 40px;
     color: #071013;
}

.content_conteiner {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 20px;
}

.content_conteiner::before {
    content: '[';
    left: 0;
}

.content_conteiner::after {
    content: ']';
    position: absolute;
    right: 0;
}

.content_conteiner::after, .content_conteiner::before {
    position: absolute;
      top: 0;
      
      color: rgb(236,150,89);
      font-size: 42px;
      line-height: 40px;
      
      -webkit-animation-name: opacity;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      animation-name: opacity;
      animation-duration: 2s;
      animation-iteration-count: infinite;
}

.content__text {
     display: inline;
      float: left;
      margin: 0;
}

.list {
     margin-top: 0;
      padding-left: 110px;
      text-align: left;
      list-style: none;
      
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;
}

.list__item {
    line-height:40px;
    margin:0;
    margin-left: 235px;
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}
/* --------- Game layout */

.game-area {
    background-color: #B68BFD;
    background-image: url('../images/fortnite-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 480px;
    max-width: 930px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomright: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-box-shadow: 3px 3px 4px 1px rgba(0,0,0,0.8); 
    box-shadow: 3px 3px 4px 1px rgba(0,0,0,0.8);   
}

.question-area {
    width: 50%;
    font-size: 2.3rem;
    margin: auto;
    padding: 50px 0;
}

.question-area span {
    padding: 0 15px;
}

.score-area {
    margin: 50px auto;
    width: 60%;
    font-size: 1.2rem;
   
}

.controls-area {
    width: 85%;
    margin: 30px auto;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
    color: #ffffff;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

span {
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
}

.scores {
    display: inline-block;
    padding: 25px;
}

#myImg {
  width: 4rem;
  height: 4rem;
  position: relative;
  opacity: 0;
 
}

#img-anim {
  width: 2rem;
  height: 2rem;
}

#img-anim-3 {
  width: 3rem;
  height: 2rem;
}

#img-anim-2, #img-anim-4 {
  width: 2rem;
  height: 2rem;
}

#myImg.fade-in {
 
  animation-name: fadeIn; 				
	animation-duration: 2s;        			
	animation-iteration-count:initial; 
}

#otherImg {
  width: 7rem;
  height: 5rem;
  position: relative;
  top: -190px;
  left: 120px;
  opacity: 0;
}

#otherImg.fade-in {
  animation-name: fadeIn; 				
	animation-duration: 2s;        			
	animation-iteration-count:initial; 
}

@keyframes fadeIn { 

  0% {opacity: 0;} 
	100% {opacity: 1;} 
}


#message {
  position: relative;
  opacity: 0;
  color: #ffffff;
}

#wrongmsg {
  position: relative;
  top: -175px;
  opacity: 0;
  color: #ffffff;
}

#message.fade-in {
  animation-name: fadeIn; 				
  animation-duration: 2s;        			
  animation-iteration-count:initial; 
}

#wrongmsg.fade-in {
  animation-name: fadeIn; 				
  animation-duration: 2s;        			
  animation-iteration-count:initial; 
}

/* --------- Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--big::after {
    content: attr(data-type);
    font-size: 1.2rem;
    color: #ffffff;
    position: relative;
    left: -0.5em;
    font-weight: bold;
}

.btn--blue {
    border-color: blue;
    color: blue;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--orange {
    border-color: orange;
    color: orange;
}

.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

.btn--gray {
    margin-top: 5px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
  
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}

/* --------- Media queries */

@media (max-width: px) {
  
}

@media (max-width: 968px) {
    .content_conteiner {
       width: 500px;
   }
    .game-area {
        width: 90%;
        margin-top: 200px;
    }

    .content {
        font-size: 30px;
        width: 480px;
    }

    .btn--big {
    
    border-radius: 50%;
    background-color: white;
    border: 7px solid;
    width: 72px;
    height: 72px;
    font-size: 2.2rem;
    margin: 5px 20px;
    
}

.controls-area {
    width: 95%;
}

.btn--big::after {
    font-size: 0.8rem;
    left: -1.2em;
    
}

.list__item {
    margin-left: 200px;
    }

#message {
    font-size: 22px;
}
#wrongmsg {
    font-size: 22px;
    top: -155px;
}
#otherImg {
    width: 8rem;
    top: -160px;
    left: 10px;
}

.score-area {
    margin: 140px auto;
}

.scores {
    display: inline-block;
    padding: 15px;
}
}

@media (max-width: 414px) {
    .controls-area {
        /* width: 105%; */
        margin-top: 5px;
        width: 113%;
        margin-left: -20px;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 45px;
        height: 45px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .question-area {
        padding: 10% 0;
        width: 100%;
        margin-top: -30px;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
        color: #ffffff;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }
    .btn--gray {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
        margin: 170px auto;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
    .list__item {
        margin-left: 85px;
    }

    .content_conteiner {
       font-size: 20px;
       width: 280px;
       margin-top: 70px;
       margin-left: 70px;
  }

  .content_conteiner::before {
      top: 40%;
      left: 15%;
  }

  .content_conteiner::after {
      top: 40%;
      right: 20%;
  }

  #img-anim {
  width: 1rem;
  height: 1rem;
  
}
 .game-area {
     margin-top: 120px;
 }

#img-anim-2,  #img-anim-3, #img-anim-4 {
  width: 1rem;
  height: 1rem;
}

#message {
  font-size: 22px;
  
}

#wrongmsg {
  font-size: 22px;
  top: -146px;
  
}

#myImg {
  width: 4rem;
  height: 4rem;
  
}
#otherImg {
  top: -150px;
  left: 10px;
 
}


}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .score-area {
       margin: 280px auto;
    }

    .btn--gray {
      margin-top: 10px;
}

    .btn--big {
        margin: 10px 10px;
    }
    .question-area {
        padding: 10px 0;
        margin-top: 20px;
    }

    .list__item {
        margin-left: 50px;
    }

    .content_conteiner {
       font-size: 16px;
       width: 240px;
       margin-top: 60px;
       margin-left: 90px;
  }

    .content_conteiner::after {
      top: 37%;
      right: 20%;
  }

  .content_conteiner::before {
      left: 18%;
  }

}